
.cat404 {
  img {
    width: 650px;
  }
}

.layout-wrapper {
  .main-sidebar {
    border-right: 2px solid #D9D9D9;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 219px;

    .sidebar {
      margin-left: 10px;

      .nav {

        .nav-item {

          #main-active, #income-expenses-active {
            border-radius: 5px;
          }

          a {
            border-radius: 0;
          }

          & a.active p {
            color: white;
          }

          &.menu-open {
            border: 2px solid #0D6EFD;
            border-radius: 5px;
            width: 181px;

            p {
              color: white;
            }
          }

          .nav-link {
            max-width: 180px;
            max-height: 40px;
            padding: 7px 5px;
            margin-bottom: 0;

            & .active {
              background-color: #007bff;
              color: white !important;
            }

            p {
              color: #052C65;
              white-space: nowrap;
            }

            img {
              padding-right: 5px;
            }
          }
        }
      }
    }

    .brand-link {
      border-bottom: 2px solid #D9D9D9;

      img {
        margin: 27px 42px 7px;
        width: 98px;
      }
    }

    .balance {
      color: #052C65;
      padding-left: 28px;
      padding-bottom: 20px;
      border-bottom: 2px solid #D9D9D9;

      a {
        margin-left: 5px;
      }
    }

    .user-panel {
      color: #052C65;

      .image {
        margin-left: 15px;
        padding-right: 10px;
      }
    }
  }

  .content-wrapper {
    background-color: white;

    .content-header {
      .container-fluid {
        h1 {
          font-size: 40px;
          font-weight: 510;
        }
      }
    }
  }
}

.content-login {
  .login-box {
    min-width: 435px;

    .card-body {
      .login-box-msg {
        font-family: Roboto, sans-serif;
        font-weight: 600;
        font-size: 40px;
        line-height: 100%;
        text-align: center;
        color: #052C65;
      }

      .login-form {
        .checkbox-row {
          font-size: 14px;

          [class*=icheck-] > input:first-child + input[type=hidden] + label::before, [class*=icheck-] > input:first-child + label::before {
            width: 14px;
            height: 14px;
            margin-top: 4px;
            margin-left: -26px
          }
        }

        .no-account {
          font-size: 14px;

          p {
            a {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.content-sign-up {
  .card-body {
    form {
      .input-group {
        .input-group-append {
          .input-group-text {
            width: 40px;
          }
        }
      }
    }
  }
}

.content-main {
  .content {
    .filters {
      display: flex;
      gap: 15px;
      margin-bottom: 130px;
      align-items: center;

      .btn {
        height: 37px;
        width: 100px;
        box-sizing: border-box;
      }

      & p {
        display: contents;
        font-weight: bold;
      }

      & a {
        color: #6C757D;
        text-decoration: underline;
      }

    }

    .container-fluid {
      .row {
        .cards {
          min-height: 467px;
          height: 467px;
          max-width: 100%;

          .card-header {
            display: flex;
            justify-content: center;
            border-bottom: none;

            h3 {
              color: #290661;
              font-weight: 500;
              font-family: Roboto, sans-serif;
              font-size: 28px;
              line-height: 100%;
            }
          }

          .card-body {
            padding: 0;
            border-right: 1px solid #D9D9D9;

            canvas {
              min-height: 360px;
              height: 360px;
              max-height: 360px;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

.content-income {
  .income-categories {

    .category {
      width: 352px;
      height: 121px;
      border: 1px solid #CED4DA;
      border-radius: 12px;
      margin: 10px;

      h3 {
        font-family: Roboto, sans-serif;
        font-weight: 600;
        font-size: 28px;
        line-height: 100%;
        color: #290661;
        padding: 20px 20px 10px;
      }

      .btn-edit-income {
        margin: 0 10px 20px 20px;
      }

      .btn-delete-income {
        margin-bottom: 20px;
      }

      .btn-creat {
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 28px;
        line-height: 100%;
        color: #CED4DA;
        margin: 44px 0;
        border: 0;
        background: transparent;
      }
    }
  }

}

.content-expenses {
  .expenses-categories {

    .category {
      width: 352px;
      height: 121px;
      border: 1px solid #CED4DA;
      border-radius: 12px;
      margin: 10px;

      h3 {
        font-family: Roboto, sans-serif;
        font-weight: 600;
        font-size: 28px;
        line-height: 100%;
        color: #290661;
        padding: 20px 20px 10px;
      }

      .btn-edit-expenses {
        margin: 0 10px 20px 20px;
      }

      .btn-delete-expenses {
        margin-bottom: 20px;
      }

      .btn-creat {
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 28px;
        line-height: 100%;
        color: #CED4DA;
        margin: 44px 0;
        border: 0;
        background: transparent;
      }
    }
  }
}

.modal {
  display: none;
  box-sizing: border-box;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  .modal-dialog {
    position: absolute;
    left: 40%;
    top: 50%;
    margin-left: -75px;
    margin-top: -75px;

    .modal-content {
      background-color: #fff;
      width: 530px;
      max-height: 184px;
      border-radius: 12px;

      .modal-body {
        padding-bottom: 0;

        p {
          font-family: Roboto, sans-serif;
          font-weight: 500;
          font-size: 20px;
          line-height: 100%;
          text-align: center;
          color: #290661;
          padding: 20px 0 0;
        }
      }

      .modal-footer {
        border-top: none;
        padding: 0 0 25px;
      }
    }
  }
}

.content-income-expenses {
  .content {
    .btn-create-income {

    }

    .filters-income-expenses {
      display: flex;
      gap: 15px;
      margin-bottom: 30px;
      align-items: center;

      .btn {
        height: 37px;
        width: 100px;
        box-sizing: border-box;
      }

      & p {
        display: contents;
        font-weight: bold;
      }

      & a {
        color: #6C757D;
        text-decoration: underline;
      }

    }

    .table-income-expenses {
      text-align: center;
      border-left: 0;
      border-right: 0;

      thead {
        tr {
          border-right: 0;
          border-left: 0;

          &.table-title th {
            font-family: Roboto, sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 1.33px;
            color: #052C65;
            padding: 18px 0;
          }

          th {
            border-right: 0;
            border-left: 0;
            font-family: Roboto, sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            text-align: center;
            color: #000000;
          }
        }
      }
    }
  }
}

.content-create-income-expenses {
  .category-create-income-expenses {
    form div input {
      max-width: 400px;
      margin: 0 auto;
      width: 400px;
    }
  }
}

.content-editing-income-expenses {
  .category-content-editing-income-expenses {
    form div input {
      max-width: 400px;
      margin: 0 auto;
      width: 400px;
      font-family: Roboto, sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: black;
    }
  }
}