@mixin card-categories {
  width: 352px;
  height: 121px;
  border: 1px solid #CED4DA;
  border-radius: 12px;
  margin: 10px;
  box-sizing: border-box;
}
@mixin content-header-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  color: #052C65;
}
@mixin btn-common {
  height: 38px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: white;
  padding: 12px 16px;
}
@mixin filter-btn {
  height: 37px;
  width: 100px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 9px 12px;
  border: 1px solid #6C757D;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #6C757D;
}
@mixin filter-btn-active {
  background-color: #6C757D;
  color: white;
}

.cat404 {
  img {
    width: 650px;
  }
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
}

.content-login, .content-sign-up {
  width: 397px;

  .login-box {
    max-width: 397px;

    .card-body {
      .login-box-msg {
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 40px;
        line-height: 100%;
        text-align: center;
        color: #052C65;
      }

      .login-form {
        .input-group {
          font-weight: 400;
          font-size: 15px;
          line-height: 24px;
          color: #6C757D;
          max-width: 397px;

          .form-control {
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            color: #6C757D;
          }
        }

        .form-check {
          font-weight: 400;
          font-size: 12px;
          line-height: 23px;

          .form-check-input {
            font-size: 14px;
          }
        }

        .no-account {
          font-weight: 400;
          font-size: 12px;
          line-height: 100%;
          color: #000000;

          p {
            a {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.content-layout {
  height: 100vh;
  .bar {
    border-right: 1px solid #D9D9D9;

    .login-logo {
      border-bottom: 1px solid #D9D9D9;
    }

    .nav {
      .nav-item {
        width: 178px;

        .nav-link {
          color: #052C65;

          .rotate-icon {
            transition: transform 0.3s ease;
          }

          .rotate-icon.rotate-down {
            transform: rotate(90deg);
          }

          .nav-link-text {
            text-decoration: none;
            font-weight: 400;
            font-size: 13px;
          }

          .text-no-active {
            color: #0D6EFD;
          }
        }
      }
    }

    .balance,
    #user-full-name {
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: #052C65;
      white-space: normal;
    }

    .user-full-name {
      font-weight: 400;
    }
  }
}

.content-main {
  .content {
    .container-fluid {
      .row {
        .cards {
          box-sizing: border-box;
          .card-header {
            .card-title {
              color: #290661;
              font-weight: 500;
              font-family: Roboto, sans-serif;
              font-size: 28px;
              line-height: 100%;
            }
          }
        }
      }
    }
  }
}

.content-create-income-expenses,
.content-editing-income-expenses {
  .category-create-income-expenses,
  .category-editing-income-expenses {
    form div input,
    form div select,
    form div textarea {
      max-width: 400px;
      margin: 0 auto;
      width: 400px;
      height: 38px;
      max-height: 300px;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
    }
    form div input::placeholder,
    form div textarea::placeholder {
      color: #6C757D;
      opacity: 1;
    }
    form div #category-select:invalid {
      color: #6C757D; // серый для placeholder
    }

    form div #category-select:valid {
      color: black; // черный после выбора
    }

    .was-validated :invalid {
      border: 1px solid red;
    }

    form div .btn {
      @include btn-common;
    }
  }
}

.content-block {
  .category {
    @include card-categories;

    h3 {
      font-weight: 500;
      font-size: 28px;
      line-height: 100%;
      color: #290661;
      padding: 20px 20px 2px;
    }

    input {
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
    }

    .btn {
      @include btn-common;
    }

    .btn-edit-income, .btn-edit-expenses {
      margin: 0 10px 20px 20px;
    }

    .btn-delete-income, .btn-delete-expenses {
      margin-bottom: 20px;
    }

    .btn-creat {
      font-weight: 500;
      font-size: 28px;
      line-height: 100%;
      color: #CED4DA;
      margin: 44px 0;
      border: 0;
      background: transparent;
    }
  }
}

.content-income-expenses,
.content-main {
  .content {
    .btn {
      @include btn-common;
    }
    .filters-income-expenses,
    .filters-main {
      display: flex;
      gap: 15px;
      margin-bottom: 30px;
      align-items: center;

      .btn {
        @include filter-btn;
      }

      .btn:hover {
        @include filter-btn-active;
      }

      .active {
        @include filter-btn-active;
      }

      & p {
        display: contents;
        font-weight: bold;
      }

      & a {
        color: #6C757D;
        text-decoration: underline;
      }

    }
    .card-body {
      .table-income-expenses {
        text-align: center;
        border-left: 0;
        border-right: 0;


        thead, tbody {
          tr {
            border-right: 0;
            border-left: 0;

            &.table-title th {
              font-family: Roboto, sans-serif;
              font-weight: 700;
              font-size: 16px;
              line-height: 100%;
              letter-spacing: 1.33px;
              color: #052C65;
              padding: 18px 0;
            }

            th, td {
              border-right: 0;
              border-left: 0;
              font-family: Roboto, sans-serif;
              font-weight: 400;
              font-size: 16px;
              line-height: 23px;
              text-align: center;
              color: #000000;

              box-shadow: none;
            }
          }
        }
      }
    }
  }
}

.modal {
  display: none;
  box-sizing: border-box;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  .modal-dialog {
    position: absolute;
    left: 40%;
    top: 50%;
    margin-left: -75px;
    margin-top: -75px;

    .modal-content {
      background-color: #fff;
      width: 530px;
      border-radius: 12px;

      .modal-body {
        padding-bottom: 0;

        p {
          font-family: Roboto, sans-serif;
          font-weight: 500;
          font-size: 20px;
          line-height: 100%;
          text-align: center;
          color: #290661;
          padding: 20px 0 0;
        }
      }

      .modal-footer {
        border-top: none;
        padding: 0 0 10px;
      }
    }
  }
}

.content-header {
  .container-fluid {
    h1 {
      @include content-header-title;
    }
  }
}