<div class="content-editing-income">
    <section class="content-header">
        <div class="container-fluid pt-4">
            <h1 class="mt-5">Редактирование категории доходов</h1>
        </div>
    </section>
    <div class="income-categories row">
        <div class="category-editing-income mt-3">
            <form>
                <div class="mb-3 ml-4">
                    <input type="text" class="form-control mb-3" placeholder="Зарплата" style="max-width: 400px;
                    margin: 0 auto; width: 400px;">
                    <button type="submit" class="btn btn-success mr-2 ">Сохранить</button>
                    <button type="button" class="btn btn-danger">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>