<div class="content-editing-income-expenses">
    <section class="content-header">
        <div class="container-fluid pt-4">
            <h1 class="mt-5">Редактирование дохода/расхода</h1>
        </div>
    </section>
    <div class="category-content-editing-income-expenses mt-3 row">
        <form>
            <div class="mb-3 ml-4">
                <input type="text" class="form-control mb-3" placeholder="Тип..." name="type" value="Доход">
                <input type="text" class="form-control mb-3" placeholder="Категория..." name="category" value="Зарплата">
                <input type="number" class="form-control mb-3" placeholder="Сумма в $..." name="amount" value='500'>
                <input type="date" class="form-control mb-3" placeholder="Дата..." name="date" value="2022-09-11">
                <input type="text" class="form-control mb-3" placeholder="Комментарий..." name="comment">
                <button type="submit" class="btn btn-success mr-2 ">Сохранить</button>
                <button type="reset" class="btn btn-danger">Отмена</button>
            </div>
        </form>
    </div>
</div>