<div class="content-block content-generating-income ms-5">
    <section class="content-header">
        <div class="container-fluid pt-5 ps-0">
            <h1 class="mt-5">Создание категории доходов</h1>
        </div>
    </section>
    <div class="category income-categories row border-0 m-0">
        <div class="category-generating-income p-0 mt-3">
            <form>
                <div class="mb-3 mt-2">
                    <input type="text" id="category-title-input" class="form-control mb-3 m-0" placeholder="Название..." style="max-width: 400px;
                    margin: 0 auto; width: 400px;">
                    <button type="submit" id="create-btn" class="btn btn-success me-1">Создать</button>
                    <button type="button" id="cancel-btn" class="btn btn-danger">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>