<div class="content-block content-income position-relative ms-5">
    <section class="content-header">
        <div class="container-fluid p-0 pt-4">
            <h1 class="mt-5 pt-3 pb-4">Доходы</h1>
        </div>
    </section>

    <div class="income-categories row" id="income-categories-container">

        <div class="category">
            <h3>Дипозиты</h3>
            <button type="button" class="btn btn-primary btn-edit-income">Редактировать</button>
            <button type="button" class="btn btn-danger btn-delete-income">Удалить</button>
        </div>

        <div class="category">
            <h3>Зарплата</h3>
            <button type="button" class="btn btn-primary btn-edit-income">Редактировать</button>
            <button type="button" class="btn btn-danger btn-delete-income">Удалить</button>
        </div>

        <div class="category">
            <h3>Сбережения</h3>
            <button type="button" class="btn btn-primary btn-edit-income">Редактировать</button>
            <button type="button" class="btn btn-danger btn-delete-income">Удалить</button>
        </div>

        <div class="category">
            <h3>Инвестиции</h3>
            <button type="button" class="btn btn-primary btn-edit-income">Редактировать</button>
            <button type="button" class="btn btn-danger btn-delete-income">Удалить</button>
        </div>

        <a href="/generating-income" class="category btn btn-block btn-outline-light">
            <button class=" btn-creat">+</button>
        </a>
    </div>

    <div class="modal fade show" id="modal-default" aria-modal="true"
         role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Вы действительно хотите удалить категорию? Связанные доходы будут удалены
                        навсегда.</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Да, удалить</button>
                    <button type="button" class="btn btn-danger close-modal-income">Не удалять</button>
                </div>
            </div>
        </div>
    </div>

</div>
