<div class="content-layout row flex-nowrap p-0">
    <div class="bar p-0 d-flex flex-column justify-content-between " style="width: 219px;">
        <a href="/"
           class="login-logo d-flex align-items-center ps-5 pt-4 pb-4 link-dark text-decoration-none brand-link">
            <img src="/images/logo.png" alt="Finance Logo" style="max-height: 40px;">
        </a>
        <ul class="nav nav-pills flex-column mb-auto pt-5 ps-4">
            <li class="nav-item">
                <a href="/" class="nav-link link-body-emphasis" id="main-active">
                    <i class="bi bi-house" id="main-active-i" style="color: #052C65;"></i>
                    <span class="nav-link-text ps-2">Главная</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/income&expenses" class="nav-link" id="income-expenses-active">
                    <i class="bi bi-cash-coin" id="income-expenses-active-i" style="color: #052C65;"></i>
                    <span class="nav-link-text ps-2">Доходы & Расходы</span>
                </a>
            </li>
            <li class="nav-item categories-border border border-primary rounded" id="categories-border">
                <button class="btn align-items-center nav-link w-100 text-start"
                        id="categories-active"
                        data-bs-toggle="collapse"
                        data-bs-target="#home-collapse"
                        aria-expanded="false"
                        aria-controls="home-collapse">
                    <span class="nav-link-text"> Категории </span>
                    <i class="bi bi-chevron-right rotate-icon transition ps-5 ms-2 categories-chevron-right"
                       id="categories-chevron-right"></i>
                </button>
                <div class="collapse" id="home-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal small nav nav-treeview">
                        <li class="nav-item">
                            <a href="/income" class="nav-link" id="income-active">
                                <p class="nav-link-text m-0" id="income-no-active">Доходы</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/expenses" class="nav-link" id="expenses-active">
                                <p class="nav-link-text m-0" id="expenses-no-active">Расходы</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="border-bottom">
            <div class="balance ps-1 m-4">
                Баланс: <a href="javascript:void(0);" class="text-decoration-none" id="balance">500$</a>
            </div>
        </div>
        <div class="user-full-name dropdown m-4">
            <a class="dropdown-toggle text-decoration-none d-flex align-items-center" href="javascript:void(0);"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
                <img src="/images/user-Icon.png" width="34" height="34" class="rounded-circle me-2" id="images-icon">
                <strong id="user-full-name">Roman Chernov</strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="/logout" id="logout">LogOut</a></li>
            </ul>
        </div>
        <div id="balance-modal" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Изменить баланс</h5>
                    </div>
                    <div class="modal-body">
                        <input type="number" id="balance-input" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary mt-3 me-4 text-center" id="save-balance">
                            Сохранить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="" id="content-layout">
    </div>
</div>

