<div class="content-main">
    <section class="content">
        <section class="content-header">
            <div class="container-fluid pt-4">
                <h1 class="mt-5">Главная</h1>
            </div>
        </section>

        <div class="filters mt-5 ml-3">
                <button type="button" class="btn btn-secondary">Сегодня</button>
                <button type="button" class="btn btn-outline-secondary">Неделя</button>
                <button type="button" class="btn btn-outline-secondary">Месяц</button>
                <button type="button" class="btn btn-outline-secondary">Год</button>
                <button type="button" class="btn btn-outline-secondary">Все</button>
                <button type="button" class="btn btn-outline-secondary">Интервал</button>
                <p>c</p>
                <a>Дата</a>
                <p>по</p>
                <a>Дата</a>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 cards">
                    <div class="card-header">
                        <h3 class="card-title">Доходы</h3>
                    </div>
                    <div class="card-body">
                        <canvas id="pieChart"></canvas>
                    </div>
                </div>

                <div class="col-md-6 cards">
                    <div class="card-header">
                        <h3 class="card-title">Расходы</h3>
                    </div>
                    <div class="card-body">
                        <canvas id="pieChart2"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <aside class="control-sidebar control-sidebar-dark">

    </aside>
</div>





